.con {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    /* padding-left: 6%; */
    padding-right: 6%;
    /* padding-top: 5%; */
    /* margin-bottom: 60px; */


    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


.name {
    height: 150px;
    width: 250px;
    margin-bottom: 20px;
}

.desc {
    width: 450px;
    height: 90px;
    color: rgba(255, 255, 255, 0.667);
}

.btn {
    display: flex;
    justify-content: start;
    align-items: center;
}


.watch {
    font-size: 23px;
    color: white;
    background: linear-gradient(to right, rgb(0, 170, 255), rgb(83, 83, 230), rgb(255, 0, 183));
    padding: 10px 120px;
    border: none;
    border-radius: 4px;
}

.add {
    font-size: 35px;
    color: white;
    background-color: rgba(240, 248, 255, 0.072);
    padding: 4.5px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
}

.con2 {
    display: flex;
    justify-content: space-between;
}

.sug {
    display: flex;
    gap: 10px;
}

.imgs {
    /* border: 1px solid; */
    height: 50px;
    width: 80px;
    border-radius: 4px;
    position: relative;
    background-image: url('https://img10.hotstar.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/6737/1763663016737-i');
    background-size: cover;
}