.con{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    /* border: 2px solid greenyellow; */
    z-index: 1001;
    top: 0;
    display: none;
    transition: all 0.5s ease;


}



.watch{
    height: 800px;
    width: 950px;
    /* border: 1px solid white; */
    position: absolute;
    bottom: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    left: 50%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    transform: translate(-50%);
    z-index: 1003;
}

.psec{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 90px;
    height: 100%;
}


.cl{
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1002;
}


.sec1{
    /* border: 1px solid palevioletred; */
    height: 75%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.334)), url('https://img10.hotstar.com/image/upload/f_auto,q_auto/sources/r1/cms/prod/2846/1739497002846-i');
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    color: white;
    padding-left: 30px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: inset 40px -50px 20px 50px rgb(0, 0, 0);
}

.name{
    /* background-image: url('https://img10.hotstar.com/image/upload/f_auto,h_124/sources/r1/cms/prod/1168/1739497021168-t'); */
    /* height: 120px; */
    width: 200px;
    position: relative;
    bottom: 40px;
    background-repeat: no-repeat;
}

.info{
    position: relative;
    bottom: 20px;
    display: flex;
    gap: 10px;
}

.desc{
    margin-bottom: 20px;
    color: rgb(197, 197, 197);
    width: 400px;
}

.lan{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.play{
    font-size: 23px;
    padding: 5px 30px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right , rgb(0, 208, 255),rgb(255, 0, 221));
}
.add{
    font-size: 23px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: rgba(72, 72, 72, 0.47);
}


.cat{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}