.nav {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.594);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    z-index: 1;
}

.nav .img {
    background-image: url('https://img.hotstar.com/image/upload/v1737554969/web-assets/prod/images/rebrand/logo.png');
    width: 70px;
    height: 50px;
    background-position: center;
    background-size: cover;
}

.logos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logos button {
    width: 30px;
    height: 35px;
    font-size: 23px;
    background: transparent;
    color: rgba(245, 245, 220, 0.646);
    border: none;
    font-weight: 100;
}