.card {
    /* background-color: aqua; */
    flex: 0 0 auto;
    /* border: 1px solid white; */
    border-radius: 5px;
    width: 240px;
    height: 130px;
    /* background-image: url('https://img10.hotstar.com/image/upload/f_auto,q_90,w_384/sources/r1/cms/prod/6847/1754203346847-v'); */
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.4s ease-in-out;

}

.info {
    display: none;
    /* width: 100px; */
    height: 240px;
    background-color: black;
   transition: all 0.4s ease-in-out;

}

.card:hover .info {
    display: block;
    /* scale: 1.5; */
   

}

.card:hover {
    z-index: 1001;
    scale: 1.2;
    width: 250px;
    /* height: 240px; */
    

}


.img{
    width: 240px;
    height: 130px;
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}


.btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
}

.play{
    border: none;
    border-radius: 5px;
    padding: 5px 20px;

}
.add{
    padding: 5px 20px;
    color: white;
    background-color: rgba(13, 255, 0, 0.45);
    border: none;
}

.info2{
    color: white;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 0 10px;
}

.desc2{
    color: gray;
    font-size: small;

}