* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow-x: hidden;
}

.body {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  background: linear-gradient(#0000009d), url('https://img10.hotstar.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/6737/1763663016737-i');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 100px -90px 100px 90px rgb(0, 0, 0);
  transition: all 0.3s linear;
}

.nav {
  position: fixed;
}


.content {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  margin-left: 200px;
  /* margin-right: 300px; */
  padding-left: 30px;
  padding-right: 20px;
  gap: 4px;
  /* animation: fadeIn 0.5s ease; */
  width: 85%;
  height: 350px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; */
  anchor-name: --con;
  box-shadow: 0 0 10px;
  scrollbar-width: none;
  transition: all 0.3s ease-in;
}


.content::scroll-button(right),
.content::scroll-button(left) {
  display: none;
  content: '>';
  position: absolute;
  position-anchor: --con;
  position-area: right center;
  font-size: 30px;
  height: 100%;
  color: antiquewhite;
  width: 50px;
  z-index: 11;
  border: none;
  background-color: transparent;
}

.content::scroll-button(left) {
  /* position: absolute; */
  content: '<';
  position-area: left center;
}

.content::scroll-button(left):disabled{
  opacity: 0.2;
}
.content::scroll-button(right):disabled{
  opacity: 0.2;
}


.content:hover.content::scroll-button(left),
.content:hover.content::scroll-button(right) {
  display: block;
}


/* .bundle{
  padding-left: 50px;
} */