* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

.body {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  position: sticky;
  background: linear-gradient(#0000009d), url('https://img10.hotstar.com/image/upload/f_auto,q_90,w_1920/sources/r1/cms/prod/6737/1763663016737-i');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 100px -90px 100px 90px rgb(0, 0, 0);
  transition: all 0.3s linear;
}

.nav {
  position: fixed;
}

.title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  font-size: large;
  color: rgb(194, 255, 255);
}


.content {
  /* border: 1px solid rgb(255, 255, 255); */
  position: relative;
  display: flex;
  /* top: -10px; */
  flex-wrap: nowrap;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  /* margin-left: 180px; */
  /* margin-right: 300px; */
  padding-left: 30px;
  padding-right: 20px;
  gap: 10px;
  /* z-index: 50; */
  /* animation: fadeIn 0.5s ease; */
  width: 100%;
  height: 300px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; */
  /* anchor-name: --con; */
  /* box-shadow: 0 0 10px; */
  scrollbar-width: none;
  transition: all 0.3s ease-in;
  background-color: transparent;
}



.sections{
  /* border: 1px solid red; */
  height: 200px;
  /* z-index: 0; */
}





.bundle {
  padding-left: 130px;
}