.footer{
    padding-top: 70px;
    background-color: rgba(11, 10, 10, 0.793);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.l{
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 40px;
}

.f1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    color: rgb(211, 211, 211);
}

.footer h3{
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.759);
}


.footer p{
    margin-bottom: 10px;
    color: gray;
}

